In [1]:
import pandas as pd
import numpy as np
# For visualizations
import matplotlib.pyplot as plt
import scipy
import re
# For handling string
import string
# For performing mathematical operations
import math
import nltk 

%matplotlib inline

In [8]:
df = pd.read_csv("C:/Users/John/Documents/MMA/Big Data/Assignments/Individual/sentiment_train.csv")
df.head(5)

                                            Sentence  Polarity
0                           Wow... Loved this place.         1
1                                 Crust is not good.         0
2          Not tasty and the texture was just nasty.         0
3  Stopped by during the late May bank holiday of...         1
4  The selection on the menu was great and so wer...         1

In [9]:
df["no_punct"] = df['Sentence'].str.replace('[^\w\s]','')
df.head(n=20)

,Sentence,Polarity,no_punct
0,Wow... Loved this place.,1,Wow Loved this place
1,Crust is not good.,0,Crust is not good
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...
5,Now I am getting angry and I want my damn pho.,0,Now I am getting angry and I want my damn pho
6,Honeslty it didn't taste THAT fresh.),0,Honeslty it didnt taste THAT fresh
7,The potatoes were like rubber and you could te...,0,The potatoes were like rubber and you could te...
8,The fries were great too.,1,The fries were great too
9,A great touch.,1,A great touch
10,Service was very prompt.,1,Service was very prompt
11,Would not go back.,0,Would not go back
12,The cashier had no care what so ever on what I...,0,The cashier had no care what so ever on what I...
13,"I tried the Cape Cod ravoli, chicken,with cran...",1,I tried the Cape Cod ravoli chickenwith cranbe...
14,I was disgusted because I was pretty sure that...,0,I was disgusted because I was pretty sure that...
15,I was shocked because no signs indicate cash o...,0,I was shocked because no signs indicate cash only
16,Highly recommended.,1,Highly recommended
17,Waitress was a little slow in service.,0,Waitress was a little slow in service
18,"This place is not worth your time, let alone V...",0,This place is not worth your time let alone Vegas
19,did not like at all.,0,did not like at all

In [10]:
df['lowered_text']=df['no_punct'].apply(lambda x: x.lower())
df.head()

,Sentence,Polarity,no_punct,lowered_text
0,Wow... Loved this place.,1,Wow Loved this place,wow loved this place
1,Crust is not good.,0,Crust is not good,crust is not good
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty,not tasty and the texture was just nasty
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...,stopped by during the late may bank holiday of...
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...,the selection on the menu was great and so wer...

In [11]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')
df['StopwordsCount'] = df['lowered_text']
df['StopwordsCount'] = df['StopwordsCount'].apply(lambda x: len([x for x in x.split() if x in stop]))
df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\John\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

,Sentence,Polarity,no_punct,lowered_text,StopwordsCount
0,Wow... Loved this place.,1,Wow Loved this place,wow loved this place,1
1,Crust is not good.,0,Crust is not good,crust is not good,2
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty,not tasty and the texture was just nasty,5
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...,stopped by during the late may bank holiday of...,6
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...,the selection on the menu was great and so wer...,8

In [12]:
df['reviewTextnoStop'] = df['lowered_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df.head(5)

,Sentence,Polarity,no_punct,lowered_text,StopwordsCount,reviewTextnoStop
0,Wow... Loved this place.,1,Wow Loved this place,wow loved this place,1,wow loved place
1,Crust is not good.,0,Crust is not good,crust is not good,2,crust good
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty,not tasty and the texture was just nasty,5,tasty texture nasty
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...,stopped by during the late may bank holiday of...,6,stopped late may bank holiday rick steve recom...
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...,the selection on the menu was great and so wer...,8,selection menu great prices

In [13]:
df.shape

(2202, 6)

In [14]:
#Word Count
df['word_count'] = df['no_punct'].apply(lambda x: len(str(x).split(" ")))
df[['no_punct','word_count']].head()

                                            no_punct  word_count
0                               Wow Loved this place           4
1                                  Crust is not good           4
2           Not tasty and the texture was just nasty           8
3  Stopped by during the late May bank holiday of...          15
4  The selection on the menu was great and so wer...          12

In [15]:
df['non_stop_count'] = df['word_count'] - df['StopwordsCount']
df.head(5)

,Sentence,Polarity,no_punct,lowered_text,StopwordsCount,reviewTextnoStop,word_count,non_stop_count
0,Wow... Loved this place.,1,Wow Loved this place,wow loved this place,1,wow loved place,4,3
1,Crust is not good.,0,Crust is not good,crust is not good,2,crust good,4,2
2,Not tasty and the texture was just nasty.,0,Not tasty and the texture was just nasty,not tasty and the texture was just nasty,5,tasty texture nasty,8,3
3,Stopped by during the late May bank holiday of...,1,Stopped by during the late May bank holiday of...,stopped by during the late may bank holiday of...,6,stopped late may bank holiday rick steve recom...,15,9
4,The selection on the menu was great and so wer...,1,The selection on the menu was great and so wer...,the selection on the menu was great and so wer...,8,selection menu great prices,12,4

In [ ]:
#remove Numerics?????

In [20]:
#Commonly occuring words
#freq = pd.Series(' '.join(df['reviewTextnoStop']).split()).value_counts()[:8]
#freq

good       192
great      181
phone      162
food       123
place      110
1          110
service    106
0          100
dtype: int64

In [22]:

#freq = list(freq)
#df['reviewTextnoStop'] = df['reviewTextnoStop'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#df['reviewTextnoStop'].head()

0                                      wow loved place
1                                           crust good
2                                  tasty texture nasty
3    stopped late may bank holiday rick steve recom...
4                          selection menu great prices
Name: reviewTextnoStop, dtype: object

In [27]:
#Count of rare words
#freq_rare = pd.Series(' '.join(df['reviewTextnoStop']).split()).value_counts()[-500:]
#freq_rare

create          1
welldesigned    1
venture         1
insults         1
negligent       1
               ..
wires           1
rubber          1
loads           1
pub             1
itll            1
Length: 500, dtype: int64

In [ ]:
#removal of rarely occuring irrelevant words

#freq_rare = list(freq_rare)
#df['reviewTextnoStop'] = df['reviewTextnoStop'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#df['reviewTextnoStop'].head()

In [35]:
from textblob import TextBlob
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\John\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [38]:
TextBlob(df['reviewTextnoStop'][100]).word_counts

defaultdict(int,
            {'server': 1,
             'fantastic': 1,
             'found': 1,
             'wife': 1,
             'loves': 1,
             'roasted': 1,
             'garlic': 1,
             'bone': 1,
             'marrow': 2,
             'added': 1,
             'extra': 1,
             'meal': 1,
             'another': 1,
             'go': 1})

In [41]:
from textblob import Word
nltk.download('wordnet')
df['reviewTextnoStop'] = df['reviewTextnoStop'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['reviewTextnoStop'].head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\John\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

0                                      wow loved place
1                                           crust good
2                                  tasty texture nasty
3    stopped late may bank holiday rick steve recom...
4                           selection menu great price
Name: reviewTextnoStop, dtype: object

In [42]:
TextBlob(df['reviewTextnoStop'][0]).ngrams(4)

[]

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [44]:
vec_idf=TfidfVectorizer()

In [45]:
w=vec_idf.fit(df['reviewTextnoStop'])

In [46]:
vec_idf.vocabulary_

{'wow': 3664,
 'loved': 1909,
 'place': 2378,
 'crust': 794,
 'good': 1406,
 'tasty': 3219,
 'texture': 3243,
 'nasty': 2114,
 'stopped': 3095,
 'late': 1806,
 'may': 1977,
 'bank': 282,
 'holiday': 1553,
 'rick': 2705,
 'steve': 3086,
 'recommendation': 2613,
 'selection': 2838,
 'menu': 2010,
 'great': 1426,
 'price': 2471,
 'getting': 1379,
 'angry': 161,
 'want': 3544,
 'damn': 820,
 'pho': 2352,
 'honeslty': 1558,
 'didnt': 900,
 'taste': 3215,
 'fresh': 1327,
 'potato': 2440,
 'like': 1853,
 'rubber': 2742,
 'could': 747,
 'tell': 3232,
 'made': 1927,
 'ahead': 117,
 'time': 3292,
 'kept': 1765,
 'warmer': 3548,
 'fry': 1338,
 'touch': 3327,
 'service': 2862,
 'prompt': 2495,
 'would': 3659,
 'go': 1395,
 'back': 268,
 'cashier': 526,
 'care': 511,
 'ever': 1119,
 'say': 2791,
 'still': 3088,
 'ended': 1081,
 'wayyy': 3567,
 'overpriced': 2255,
 'tried': 3361,
 'cape': 505,
 'cod': 638,
 'ravoli': 2573,
 'chickenwith': 588,
 'cranberrymmmm': 769,
 'disgusted': 936,
 'pretty': 2467,
 'sure': 3173,
 'human': 1588,
 'hair': 1460,
 'shocked': 2897,
 'sign': 2919,
 'indicate': 1656,
 'cash': 524,
 'highly': 1536,
 'recommended': 2614,
 'waitress': 3537,
 'little': 1872,
 'slow': 2961,
 'worth': 3656,
 'let': 1837,
 'alone': 135,
 'vega': 3483,
 'burrittos': 459,
 'blah': 357,
 'food': 1290,
 'amazing': 146,
 'also': 139,
 'cute': 810,
 'le': 1816,
 'interior': 1701,
 'beautiful': 307,
 'performed': 2336,
 'thats': 3248,
 'rightthe': 2710,
 'red': 2617,
 'velvet': 3490,
 'cakeohhh': 481,
 'stuff': 3123,
 'name': 2108,
 'hole': 1552,
 'wall': 3542,
 'mexican': 2020,
 'street': 3108,
 'taco': 3198,
 'friendly': 1331,
 'staff': 3053,
 'took': 3316,
 'hour': 1580,
 'get': 1378,
 'table': 3197,
 'restaurant': 2683,
 'luke': 1920,
 'warm': 3547,
 'sever': 2868,
 'running': 2748,
 'around': 204,
 'totally': 3326,
 'overwhelmed': 2258,
 'worst': 3654,
 'salmon': 2764,
 'sashimi': 2779,
 'combo': 649,
 'burger': 457,
 'beer': 317,
 '23': 17,
 'decent': 837,
 'deal': 832,
 'final': 1232,
 'blow': 369,
 'found': 1307,
 'accident': 69,
 'happier': 1482,
 'seems': 2836,
 'quick': 2545,
 'grab': 1416,
 'bite': 352,
 'familiar': 1188,
 'pub': 2514,
 'favor': 1205,
 'look': 1888,
 'elsewhere': 1066,
 'overall': 2247,
 'lot': 1899,
 'redeeming': 2619,
 'quality': 2542,
 'inexpensive': 1665,
 'ample': 155,
 'portion': 2427,
 'poor': 2421,
 'waiter': 3535,
 'feel': 1211,
 'stupid': 3126,
 'every': 1120,
 'came': 488,
 'first': 1245,
 'visit': 3512,
 'hiro': 1542,
 'delight': 863,
 'suck': 3143,
 'shrimp': 2913,
 'tender': 3235,
 'moist': 2057,
 'enough': 1091,
 'drag': 980,
 'establishment': 1109,
 'hard': 1485,
 'judge': 1752,
 'whether': 3594,
 'side': 2917,
 'grossed': 1444,
 'melted': 2003,
 'styrofoam': 3132,
 'eat': 1037,
 'fear': 1208,
 'sick': 2916,
 'positive': 2432,
 'note': 2168,
 'server': 2861,
 'attentive': 238,
 'provided': 2506,
 'frozen': 1334,
 'puck': 2517,
 'disgust': 935,
 'people': 2328,
 'behind': 319,
 'register': 2631,
 'thing': 3262,
 'prime': 2476,
 'rib': 2702,
 'dessert': 886,
 'section': 2827,
 'bad': 272,
 'generic': 1370,
 'beef': 313,
 'cooked': 729,
 'right': 2709,
 'sandwich': 2775,
 'firehouse': 1244,
 'greek': 1432,
 'salad': 2763,
 'dressing': 992,
 'pita': 2374,
 'hummus': 1591,
 'refreshing': 2624,
 'ordered': 2227,
 'duck': 1010,
 'rare': 2563,
 'pink': 2372,
 'inside': 1678,
 'nice': 2140,
 'char': 558,
 'outside': 2243,
 'realized': 2587,
 'husband': 1598,
 'left': 1827,
 'sunglass': 3161,
 'chow': 602,
 'mein': 2000,
 'horrible': 1569,
 'attitude': 239,
 'towards': 3331,
 'customer': 807,
 'talk': 3206,
 'one': 2209,
 'dont': 965,
 'enjoy': 1087,
 'huge': 1587,
 'itfriendly': 1723,
 'wonderful': 3636,
 'imaginative': 1624,
 'heart': 1508,
 'attack': 233,
 'grill': 1436,
 'downtown': 978,
 'absolutely': 58,
 'flatlined': 1256,
 'excuse': 1145,
 'much': 2087,
 'seafood': 2814,
 'string': 3113,
 'pasta': 2300,
 'bottom': 401,
 'amount': 153,
 'sauce': 2785,
 'power': 2445,
 'scallop': 2793,
 'perfectly': 2334,
 'ripped': 2718,
 'banana': 281,
 'petrified': 2345,
 'tasteless': 3217,
 'least': 1823,
 'think': 3263,
 'refill': 2622,
 'water': 3560,
 'struggle': 3120,
 'wave': 3563,
 '10': 0,
 'minute': 2039,
 'receives': 2600,
 'star': 3060,
 'appetizer': 191,
 'cocktail': 636,
 'handmade': 1472,
 'delicious': 861,
 'wed': 3574,
 'definitely': 854,
 'glad': 1388,
 'give': 1385,
 'military': 2030,
 'discount': 932,
 'always': 142,
 'do': 958,
 'gringo': 1438,
 'updatewent': 3447,
 'second': 2825,
 'got': 1413,
 'apparently': 186,
 'never': 2135,
 'heard': 1506,
 'salt': 2767,
 'batter': 298,
 'fish': 1247,
 'chewy': 585,
 'way': 3564,
 'finish': 1240,
 'included': 1643,
 'tasting': 3218,
 'drink': 997,
 'jeff': 1735,
 'went': 3588,
 'beyond': 338,
 'expected': 1153,
 'meh': 1999,
 '30': 21,
 'min': 2033,
 'milkshake': 2032,
 'nothing': 2171,
 'chocolate': 598,
 'milk': 2031,
 'guess': 1450,
 'known': 1783,
 'excalibur': 1129,
 'use': 3460,
 'common': 658,
 'sense': 2848,
 'dish': 938,
 'quite': 2551,
 'appalling': 185,
 'value': 3480,
 'well': 3583,
 'sweet': 3187,
 'seasoned': 2820,
 'today': 3303,
 'ive': 1726,
 'lunch': 1922,
 'buffet': 445,
 'cheated': 575,
 'wasting': 3556,
 'eating': 1039,
 'opportunity': 2222,
 'going': 1401,
 'rice': 2704,
 'company': 663,
 'coming': 655,
 'experiencing': 1157,
 'underwhelming': 3411,
 'relationship': 2639,
 'party': 2296,
 'cant': 502,
 'wait': 3533,
 'person': 2342,
 'ask': 218,
 'break': 413,
 'walked': 3540,
 'smelled': 2973,
 'old': 2202,
 'grease': 1424,
 'trap': 3350,
 'others': 2232,
 'turkey': 3383,
 'roast': 2725,
 'bland': 359,
 'pan': 2285,
 'cake': 480,
 'everyone': 1123,
 'raving': 2572,
 'sugary': 3152,
 'disaster': 927,
 'tailored': 3199,
 'palate': 2281,
 'six': 2943,
 'year': 3677,
 'love': 1908,
 'spring': 3050,
 'roll': 2733,
 'oh': 2198,
 'yummy': 3693,
 'try': 3375,
 'meat': 1987,
 'ratio': 2570,
 'chicken': 587,
 'unsatisfying': 3438,
 'omelet': 2207,
 'die': 901,
 'everything': 1124,
 'summary': 3157,
 'largely': 1798,
 'disappointing': 924,
 'dining': 909,
 'experience': 1155,
 'really': 2588,
 'sexy': 2873,
 'mouth': 2077,
 'youre': 3688,
 'outrageously': 2241,
 'flirting': 1271,
 'hottest': 1579,
 'rock': 2728,
 'casino': 528,
 'step': 3081,
 'forward': 1306,
 'best': 334,
 'breakfast': 415,
 'bye': 473,
 'tip': 3297,
 'lady': 1791,
 'arrived': 207,
 'quickly': 2547,
 'cafe': 478,
 'serf': 2854,
 'fantastic': 1192,
 'wife': 3606,
 'roasted': 2726,
 'garlic': 1362,
 'bone': 386,
 'marrow': 1965,
 'added': 96,
 'extra': 1169,
 'meal': 1982,
 'another': 165,
 'helpful': 1522,
 'bloddy': 365,
 'mary': 1967,
 'town': 3332,
 'cannot': 501,
 'beat': 305,
 'mussel': 2101,
 'wine': 3616,
 'reduction': 2620,
 'better': 336,
 'tigerlilly': 3289,
 'afternoon': 112,
 'bartender': 289,
 'personable': 2343,
 'ambience': 151,
 'music': 2098,
 'playing': 2395,
 'next': 2138,
 'trip': 3365,
 'sooooo': 3008,
 'real': 2584,
 'sushi': 3182,
 'lover': 1911,
 'honest': 1559,
 'yama': 3673,
 '40min': 30,
 'passed': 2297,
 'ordering': 2228,
 'arriving': 209,
 'wasnt': 3553,
 'busy': 464,
 'thai': 3245,
 'spicy': 3042,
 'check': 576,
 'gross': 1443,
 'atmosphere': 227,
 'kind': 1775,
 'mess': 2014,
 'steak': 3075,
 'although': 140,
 'liked': 1854,
 'sound': 3014,
 'actual': 91,
 'bit': 349,
 'know': 1782,
 'managed': 1948,
 'served': 2860,
 'blandest': 360,
 'eaten': 1038,
 'preparing': 2461,
 'indian': 1655,
 'cuisine': 799,
 'boot': 393,
 'worry': 3652,
 'fine': 1237,
 'guy': 1453,
 'loving': 1912,
 'son': 3002,
 'said': 2762,
 'he': 1498,
 'thought': 3273,
 'youd': 3685,
 'venture': 3493,
 'away': 255,
 'hit': 1544,
 'spot': 3048,
 'night': 2145,
 'host': 1576,
 'lack': 1788,
 'word': 3642,
 'bitch': 350,
 'liking': 1855,
 'number': 2176,
 'reason': 2590,
 'waste': 3554,
 'reviewing': 2699,
 'ill': 1618,
 'leave': 1825,
 'phenomenal': 2350,
 'ambiance': 150,
 'wouldnt': 3661,
 'return': 2690,
 'venturing': 3494,
 'strip': 3114,
 'pork': 2424,
 'belly': 327,
 'im': 1619,
 'mediocre': 1992,
 'penne': 2326,
 'vodka': 3519,
 'excellent': 1133,
 'including': 1644,
 'massive': 1969,
 'meatloaf': 1989,
 'crispy': 786,
 'wrap': 3665,
 'delish': 865,
 'tuna': 3380,
 'melt': 2002,
 'management': 1949,
 'rude': 2744,
 'nyc': 2181,
 'bagel': 274,
 'cream': 780,
 'cheese': 580,
 'lox': 1915,
 'caper': 506,
 'even': 1115,
 'subway': 3139,
 'fact': 1177,
 'come': 650,
 'meet': 1995,
 'expectation': 1152,
 'seriously': 2857,
 'solid': 2993,
 'bar': 283,
 'extremely': 1171,
 'many': 1958,
 'dine': 908,
 'weekend': 3578,
 'empty': 1077,
 'suggestion': 3154,
 'rarely': 2564,
 'checked': 577,
 'ate': 225,
 'disappointed': 923,
 'curry': 805,
 'bamboo': 280,
 'shoot': 2899,
 'blanket': 361,
 'moz': 2082,
 'top': 3319,
 'done': 964,
 'cover': 757,
 'subpar': 3136,
 'bathroom': 297,
 'clean': 620,
 'decorated': 842,
 'changing': 556,
 'considering': 702,
 'pace': 2267,
 'thumb': 3283,
 'watched': 3558,
 'pay': 2311,
 'attention': 237,
 'ignore': 1615,
 'fianc': 1220,
 'middle': 2027,
 'day': 828,
 'greeted': 1434,
 'seated': 2823,
 'mandalay': 1953,
 'bay': 300,
 'waited': 3534,
 'forty': 1305,
 'five': 1249,
 'vain': 3477,
 'crostini': 790,
 'stale': 3057,
 'highlight': 1534,
 'nigiri': 2147,
 'joint': 1746,
 'different': 905,
 'cut': 809,
 'piece': 2366,
 'flavored': 1258,
 'voodoo': 3524,
 'id': 1607,
 'since': 2932,
 'gluten': 1394,
 'free': 1317,
 'several': 2869,
 'ago': 115,
 'unfortunately': 3415,
 'must': 2102,
 'bakery': 275,
 'leftover': 1828,
 'relocated': 2648,
 'impressed': 1634,
 'immediately': 1629,
 'diverse': 954,
 'reasonably': 2592,
 'priced': 2472,
 'avoid': 251,
 'cost': 742,
 'full': 1342,
 'handsdown': 1473,
 'phoenix': 2353,
 'metro': 2019,
 'area': 198,
 'looking': 1890,
 'treated': 3355,
 'bacon': 271,
 'hella': 1516,
 'salty': 2768,
 'spinach': 3044,
 'avocado': 250,
 'ingredient': 1673,
 'sad': 2757,
 'literally': 1871,
 'zero': 3695,
 'used': 3461,
 'handed': 1467,
 'listed': 1867,
 'lordy': 1894,
 'khao': 1769,
 'soi': 2990,
 'missed': 2047,
 'terrific': 3240,
 'thrilled': 3279,
 'accommodation': 71,
 'vegetarian': 3487,
 'daughter': 827,
 'perhaps': 2338,
 'caught': 535,
 'judging': 1753,
 'review': 2697,
 'inspired': 1681,
 'leaf': 1819,
 'desired': 882,
 'modern': 2055,
 'hip': 1541,
 'maintaining': 1939,
 'coziness': 761,
 'weekly': 3579,
 'haunt': 1493,
 'sat': 2780,
 '20': 12,
 'asking': 220,
 'take': 3200,
 'order': 2226,
 'flavor': 1257,
 'overcooked': 2248,
 'charcoal': 560,
 'decided': 839,
 'send': 2844,
 'looked': 1889,
 'verge': 3497,
 'dressed': 991,
 'rudely': 2745,
 'probably': 2480,
 'dirt': 917,
 'something': 2998,
 'healthy': 1504,
 'lacking': 1790,
 'quantity': 2543,
 'lemon': 1832,
 'raspberry': 2565,
 'ice': 1605,
 'incredible': 1652,
 'sucked': 3144,
 'imagined': 1626,
 'interesting': 1699,
 'decor': 841,
 'crepe': 784,
 'station': 3071,
 'hot': 1578,
 'bread': 412,
 'butter': 465,
 'home': 1556,
 'chip': 595,
 'topvery': 3321,
 'original': 2230,
 'watch': 3557,
 'egg': 1056,
 'gyro': 1455,
 'missing': 2048,
 'wing': 3617,
 'feeling': 1212,
 'satisfied': 2782,
 'joeys': 1743,
 'voted': 3525,
 'dog': 962,
 'valley': 3479,
 'reader': 2581,
 'magazine': 1930,
 'bowl': 406,
 'live': 1873,
 'friday': 1328,
 'insulted': 1689,
 'felt': 1217,
 'disrespected': 945,
 'drive': 1000,
 'exceeding': 1130,
 'hope': 1564,
 'dreamed': 989,
 'serivce': 2858,
 'help': 1520,
 'brunch': 435,
 'inviting': 1707,
 'lived': 1874,
 '1979': 11,
 'last': 1800,
 'stepped': 3082,
 'foot': 1294,
 'mixed': 2050,
 'mushroom': 2097,
 'yukon': 3691,
 'gold': 1402,
 'puree': 2529,
 'white': 3598,
 'corn': 737,
 'beateous': 306,
 'bug': 446,
 'showed': 2910,
 'given': 1386,
 'climbing': 626,
 'kitchen': 1779,
 'waiting': 3536,
 'soon': 3005,
 'friend': 1330,
 'tartar': 3213,
 'wont': 3638,
 'though': 3272,
 'soggy': 2989,
 'jamaican': 1731,
 'mojitos': 2058,
 'small': 2965,
 'shower': 2911,
 'rinse': 2716,
 'unless': 3425,
 'mind': 2034,
 'nude': 2175,
 'see': 2831,
 'lobster': 1878,
 'bisque': 348,
 'bussell': 463,
 'sprout': 3052,
 'risotto': 2721,
 'filet': 1225,
 'needed': 2122,
 'pepperand': 2330,
 'course': 754,
 'none': 2158,
 'hopefully': 1566,
 'bodes': 382,
 'business': 462,
 'someone': 2997,
 'cook': 728,
 'either': 1058,
 'cold': 640,
 'wrapped': 3666,
 'date': 826,
 'unbelievable': 3398,
 'bargain': 286,
 'folk': 1284,
 'otto': 2234,
 'make': 1942,
 'welcome': 3582,
 'special': 3031,
 'main': 1935,
 'uninspired': 3419,
 'muststop': 2103,
 'whenever': 3593,
 'isnt': 1718,
 'dealing': 833,
 'world': 3649,
 'worstannoying': 3655,
 'drunk': 1007,
 'fun': 1344,
 'chef': 583,
 'double': 969,
 'cheeseburger': 581,
 'single': 2934,
 'patty': 2308,
 'falling': 1186,
 'apart': 180,
 'picture': 2365,
 'uploaded': 3452,
 'yeah': 3676,
 'couple': 752,
 'sporting': 3047,
 'event': 1117,
 'covered': 759,
 'tv': 3386,
 'possible': 2435,
 'theyd': 3258,
 'description': 877,
 'yum': 3692,
 'eel': 1050,
 'yet': 3684,
 'mayowell': 1980,
 'hardest': 1486,
 'decision': 840,
 'honestly': 1560,
 'supposed': 3170,
 'rolled': 2734,
 'eye': 1172,
 'stayed': 3073,
 'providing': 2508,
 'money': 2062,
 'flavourful': 1261,
 'almost': 134,
 'building': 449,
 'freezing': 1322,
 'reviewer': 2698,
 'couldnt': 748,
 'close': 630,
 'point': 2412,
 'flavorful': 1259,
 'ayce': 261,
 'lighting': 1850,
 'dark': 823,
 'set': 2865,
 'mood': 2067,
 'based': 291,
 'received': 2599,
 'effort': 1055,
 'show': 2908,
 'gratitude': 1422,
 'owner': 2261,
 'privileged': 2478,
 'workingeating': 3648,
 'creamy': 781,
 'parent': 2293,
 'similar': 2926,
 'complaint': 670,
 'silently': 2924,
 'pizza': 2377,
 'peanut': 2319,
 'fast': 1198,
 'wouldve': 3662,
 'godfather': 1399,
 'tough': 3330,
 'short': 2903,
 'stick': 3087,
 'recall': 2594,
 'charged': 562,
 'tap': 3208,
 'exquisite': 1164,
 'generous': 1371,
 'plus': 2408,
 'buck': 442,
 'par': 2291,
 'thus': 3284,
 'far': 1194,
 'visited': 3513,
 'twice': 3387,
 'self': 2839,
 'proclaimed': 2484,
 'coffee': 639,
 'wildly': 3611,
 'veggitarian': 3488,
 'platter': 2391,
 'wrong': 3670,
 'madison': 1929,
 'ironman': 1716,
 'job': 1742,
 'dedicated': 843,
 'boba': 381,
 'tea': 3221,
 'jenni': 1736,
 'patio': 2305,
 'outstanding': 2244,
 'goat': 1397,
 'skimp': 2946,
 'mac': 1923,
 'bachi': 267,
 'stink': 3089,
 'recommend': 2612,
 'burned': 458,
 'saganaki': 2760,
 '100': 1,
 'hate': 1490,
 'disagree': 919,
 'fellow': 1216,
 'yelpers': 3682,
 'later': 1808,
 'neighborhood': 2128,
 'convenient': 724,
 'location': 1880,
 'pulled': 2520,
 'soooo': 3007,
 'incredibly': 1653,
 'prepared': 2460,
 'gave': 1364,
 'rating': 2569,
 'please': 2398,
 'third': 3266,
 'writing': 3668,
 'stay': 3072,
 'stir': 3090,
 'fried': 1329,
 'noodle': 2163,
 'count': 749,
 'box': 407,
 '12': 5,
 'boring': 397,
 'servicecheck': 2863,
 'greedy': 1431,
 'corporation': 738,
 'dime': 907,
 'atrocious': 229,
 'summer': 3158,
 'charming': 569,
 'outdoor': 2236,
 'delightful': 864,
 'expect': 1151,
 'toasted': 3302,
 'english': 1086,
 'muffin': 2090,
 'untoasted': 3439,
 'high': 1531,
 'house': 1582,
 'bus': 461,
 'boy': 408,
 'hand': 1466,
 'basically': 294,
 'figured': 1223,
 'joke': 1747,
 'making': 1944,
 'publicly': 2516,
 'loudly': 1904,
 'bbq': 301,
 'lighter': 1849,
 'fare': 1196,
 'reasonable': 2591,
 'pricing': 2474,
 'public': 2515,
 'two': 3389,
 'happy': 1484,
 'inhouse': 1674,
 'downside': 977,
 'without': 3628,
 'doubt': 970,
 'exceptional': 1136,
 'month': 2066,
 'returned': 2691,
 'favorite': 1206,
 'shawarrrrrrma': 2883,
 'black': 354,
 'eyed': 1173,
 'pea': 2315,
 'unreal': 3432,
 'serve': 2859,
 'vinaigrette': 3508,
 'seen': 2837,
 'especially': 1107,
 '400': 29,
 'mom': 2059,
 'pleasant': 2396,
 'honor': 1561,
 'hut': 1600,
 'coupon': 753,
 'truly': 3371,
 'unbelievably': 3399,
 'pleased': 2399,
 'dirty': 918,
 'seat': 2822,
 'replenished': 2670,
 'plain': 2380,
 'yucky': 3690,
 'standard': 3059,
 '17': 9,
 'omg': 2208,
 'delicioso': 860,
 'authentic': 244,
 'spaghetti': 3025,
 'whatsoever': 3592,
 'vegetable': 3486,
 'driving': 1001,
 'tucson': 3378,
 'vegasthere': 3485,
 'chipotle': 597,
 'classywarm': 619,
 'succulent': 3142,
 'baseball': 290,
 'brick': 420,
 'oven': 2246,
 'app': 184,
 'multiple': 2093,
 'ten': 3234,
 'finally': 1234,
 'terrible': 3239,
 'equally': 1101,
 'shouldnt': 2905,
 'pancake': 2286,
 'genuinely': 1375,
 'enthusiastic': 1096,
 'treat': 3354,
 'sadly': 2758,
 'gordon': 1411,
 'ramseys': 2556,
 'shall': 2874,
 'sharply': 2881,
 'evening': 1116,
 'life': 1845,
 'door': 968,
 'offered': 2193,
 'tasted': 3216,
 'cool': 731,
 'turn': 3384,
 'else': 1065,
 'buying': 470,
 'handling': 1471,
 'large': 1797,
 'rowdy': 2741,
 'find': 1236,
 'despicable': 884,
 'soup': 3018,
 'lukewarm': 1921,
 'craving': 774,
 'deserves': 878,
 ...}

In [47]:
z=w.transform(df['reviewTextnoStop'])

In [48]:
print(z.toarray())

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]